{% extends "analysis/template.html" %}

{% block title %}
    <title>Кластерный анализ</title>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-6 order-md-1">
            <div >
                <br>
                <form action="Clustering" method="post" enctype="multipart/form-data">
                    <label for="exampleFormControlSelect1">Данные кластреризации</label>
                    {% csrf_token %}
                    <select class="custom-select" id="name3" name="name3"  style="width:80%">

                        {% if type == 0 %}
                            <option selected>Видовой состав</option>
                        {% else %}
                            <option>Видовой состав</option>
                        {% endif %}
                        {% if type == 2 %}
                            <option selected>Точки измерения</option>
                        {% else %}
                            <option >Точки измерения</option>
                        {% endif %}
                    </select>
                    <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                </form>
                <br>
            </div>


            <div class="col-md-12 order-md-1">
                <br>
                <h4>Количество измерений:  {{ sizeI }}</h4>
                <h4>Количество исследуемых параметров:  {{ size }} </h4>
                <br>
                <h4>Дендрограмма:</h4>
                <a href="{% url 'photoClustrering' %}" target="_blank"><img src="{% url 'photoClustrering' %}" style='width: 100%; ' ></a>
            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите исследуемый параметр</label>
            </div>

            <div class="col-md-12 order-md-1">
                <form action="PrintListClustering" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
                        <select class="form-control" id="name" name="name" style='width: 75%; '>
                            {% for Сhe in Zooplankton %}
                                <option>{{ Сhe }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>
                    </div>


                </form>
            </div>

            <div class="col-md-12 order-md-1">
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Группы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet %}
                            <tr><td>{{ otv }} </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-12 order-md-1">
                <form action = 'CLUSgroup' method="post" enctype="multipart/form-data">
                    <div class="row">
                    {% csrf_token %}
                        <div class="col-md-8">
                            <input class="form-control" id="name" name="name" type="number" min="0.001" max="1" step="0.001" style='width: 105%;' value={{ val }}>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-dark" id="but" type="submit" style="background-color: #3f294f; " >Показать</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12 order-md-1">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Группы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet2 %}
                            <tr><td>{{ otv }} </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}