{% extends "analysis/template.html" %}

{% block title %}
    <title>Корреляция химического состава</title>
{% endblock %}

{% block content %}
{#<div class="container">#}
    <div class="row" style="width:100%; margin:0 auto;">
        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите параметры, которые хотите сравнить</label>
            </div>

            <div class="col-md-12 order-md-1">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
	                    <select class="js-example-basic-multiple" id="name2" name="states[]" multiple="multiple"  style="width:75%">
                            {% for Сhe in Сhemistry %}
                                <option >{{ Сhe }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>
                    </div>


                </form>
            </div>


            <div class="col-md-12 order-md-1">
                <br>
                {% load staticfiles %}
                <a href="{% url 'photoCorrelationChemistry' %}" target="_blank"><img src="{% url 'photoCorrelationChemistry' %}" style='width: 100%; ' ></a>
            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите исследуемый параметр</label>
            </div>

            <div class="col-md-12 order-md-1">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
                        <select class="form-control" id="name" name="name" style='width: 75%; '>
                            {% for Сhe in Сhemistry %}
                                <option >{{ Сhe }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12 order-md-1">
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Наиминование</th>
                            <th>Кореляция</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet %}
                            <tr>
                                {% for ot in otv %}
                                    <td>{{ ot }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{#</div>#}
{% endblock %}