{% extends "analysis/template.html" %}

{% block title %}
    <title>Корреляция</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-md-7 order-md-1">
            <form action="Correlation" method="post" enctype="multipart/form-data">
                <div class="row">

                        <div class="col-md-5 order-md-1">
                            <br>
                            <label for="exampleFormControlSelect1">Данные кореляции</label>

                            {% csrf_token %}
                                <div class="input-group">
                                    <select class="custom-select" id="name3" name="name3"  style="width:100%">
                                        {% if type == 0 %}
                                            <option selected>Химический состав</option>
                                        {% else %}
                                            <option >Химический состав</option>
                                        {% endif %}
                                        {% if type == 1 %}
                                            <option selected>Видовой состав</option>
                                        {% else %}
                                            <option>Видовой состав</option>
                                        {% endif %}
                                        {% if type == 2 %}
                                            <option selected>Задать вручную</option>
                                        {% else %}
                                            <option>Задать вручную</option>
                                        {% endif %}
                                    </select>
                                </div>
                            <br>
                        </div>

                        <div class="col-md-5 order-md-1">
                            <br>
                            <label for="exampleFormControlSelect1">Параметры</label>

                            {% csrf_token %}
                                <div class="input-group">
                                    <select class="js-example-basic-multiple" id="name2" name="states[]" multiple="multiple"  style="width:100%">
                                        {% for Сhe in colS %}
                                            <option >{{ Сhe }}</option>
                                        {% endfor %}
                                    </select>


                                </div>
                        </div>

                        <div class="col-md-2 order-md-1">
                            <br>
                            <label for="exampleFormControlSelect1">&nbsp;</label>
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>

                </div>

                <h4>Количество измерений:  {{ sizeI }}</h4>
                <h4>Количество исследуемых параметров:  {{ size }} </h4>
            </form>

                <br>
                <h4 >Корреляция:</h4>
                <a href="{% url 'photoCorrelation' %}" target="_blank"><img src="{% url 'photoCorrelation' %}" style='width: 100%; ' ></a>


                <h4 >Параметры с большой корреляцией:</h4>
                <table class="table" id="corMax" >
                    <thead>
                        <th>Наименование</th>
                        <th>Наименование</th>
                        <th>Значение корреляции</th>
                    </thead>
                    <tbody>
                        {% for cor in corMax %}
                            <tr>
                                {% for co in cor %}
                                    <td>{{ co }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <div class="additional">
                    <br>
                    <h4 >Попарные диаграммы рассеяния [Описание точки измерения]:</h4>
                    <a href="{% url 'pairplot' %}" target="_blank"><img src="{% url 'pairplot' %}" style='width: 100%; ' ></a>
                    <br>
                    <h4 >Попарные диаграммы рассеяния [Место измерения]:</h4>
                    <a href="{% url 'pairplot2' %}" target="_blank"><img src="{% url 'pairplot2' %}" style='width: 100%; ' ></a>
                </div>
        </div>


        <div class="col-md-1 order-md-1">
        </div>

        <div class="col-md-4 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите исследуемый параметр</label>

                <form action="PrintListCorrelation" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
                        <select class="form-control" id="name" name="name" style='width: 70%; '>
                            {% for Сhe in col %}
                                <option >{{ Сhe }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>
                    </div>
                </form>

                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Значение корреляции</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet %}
                            <tr>
                                {% for ot in otv %}
                                    <td>{{ ot }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

    </div>
</div>
{% endblock %}