<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <title>Загрузка данных</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'analysis/img/icon.png' %}" type="image/png">
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3f294f;">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <img src="{% static 'analysis/img/icon.png' %}" style='width: 40px; height: 40px ' >
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Файл
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Открыть</a>
                            <a class="dropdown-item disabled" href="/" aria-disabled="true">Просмотр</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link disabled" href="/" aria-disabled="true">Корреляция<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link disabled" href="/Clustering" aria-disabled="true">Кластерный анализ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link disabled" href="/LSA" aria-disabled="true">Латентно-семантический анализ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/" aria-disabled="true">Тематическое моделирование<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-md-1">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 order-md-1">
                            <br>
                            <label for="name">Название исследования</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" name="name"  required="" >
                            </div>
                        </div>
                        <div class="col-md-12 order-md-1">
                            <br>
                                <label for="file">Данные для анализа</label>
                                <div class="form-group">
                                    <input type="file" accept="text/csv" class="form-control-file" id="document" name="document" required="" >
                                </div>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <button class="btn btn-dark btn-lg btn-block" type="submit" style="background-color: #3f294f; " >Перейти к анализу данных</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="loader" ></div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
        {% load staticfiles %}
        <script src="{% static 'analysis/js/loader.js' %}"></script>
</body>
</html>