{% extends "analysis/template.html" %}

{% block title %}
    <title>Латентно-семантический анализ</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <h5>&nbsp;&nbsp;</h5>
            <h5>&nbsp;&nbsp;</h5>
            <br>
            <label></label>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Группы</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% autoescape off %}
                    {% for otv in otvet %}
                        <tr>
                            {% for ot in otv %}
                                <td>{{ ot }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% endautoescape %}
                </tbody>
            </table>
        </div>


        <div class="col-md-6 order-md-1">
            <br>
            <label for="exampleFormControlSelect1">Укажите проговое значение пренадлежности к группе</label>
            <br>
            <form action="LDA" method="post" enctype="multipart/form-data">
                <div class="row">
                {% csrf_token %}
                    <div class="col-md-8">
                        <input class="form-control" id="vali" name="vali" type="number" min="0.5" max="10000000000" step="0.5" style='width: 105%;' value={{ val }}>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-dark" id="but" type="submit" style="background-color: #3f294f; " >Показать</button>
                    </div>
                </div>
            </form>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Группы</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% autoescape off %}
                    {% for otv in otvet2 %}
                        <tr>
                            {% for ot in otv %}
                                <td>{{ ot }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% endautoescape %}
                </tbody>
            </table>
        </div>


    </div>
</div>
{% endblock %}