{% extends "analysis/template.html" %}

{% block title %}
    <title>Латентно-семантический анализ</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <h4>Количество исследуемых параметров:  {{ size }} </h4>
                <br>
                <h4>Дендрограмма:</h4>
                <a href="{% url 'photoLSA' %}" target="_blank"><img src="{% url 'photoLSA' %}" style='width: 100%; ' ></a>
                <br>
                <br>
                <h4 >Корреляция:</h4>
                <a href="{% url 'corLSA' %}" target="_blank" class="additional"><img src="{% url 'corLSA' %}" style='width: 100%; ' ></a>

            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите исследуемый параметр</label>
            </div>

            <div class="col-md-12 order-md-1">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
                        <select class="form-control" id="name" name="name" style='width: 75%; '>
                            {% for Сhe in Zooplankton %}
                                <option >{{ Сhe }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f; " >Показать</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-12 order-md-1">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Группы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet %}
                            <tr><td>{{ otv }} </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}