{% extends "analysis/template.html" %}
{% block title %}
    <title>Данные</title>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h4>Количество измерений:  {{ size }}</h4>
        <h4>Количество параметров: {{ sizeP }}</h4>
        <h4>Количество ионов: {{ sizeI }}</h4>
        <h4>Количество видов зооплантона: {{ sizeV }}</h4>
        <h4>Список параметров:</h4>
        <ul>
            {% for na in nameC %}
                <li> {{ na }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}