{% extends "analysis/template.html" %}
{% block content %}

    <div class="container">
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th>Озеро</th>
                    <th>Дата замера</th>
                    <th>Место</th>
                    <th>Описание точки</th>
                    <th>Биомасса</th>
                </tr>
            </thead>
            <tbody>
                {% for otv in measurement %}
                    <tr>
                        {% for ot in otv %}
                            <td>{{ ot }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}