<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'analysis/img/icon.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/loader.css' %}" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3f294f;">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <img src="{% static 'analysis/img/icon.png' %}" style='width: 40px; height: 40px ' >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Файл
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Открыть</a>
                            <a class="dropdown-item" href="/table">Просмотр</a>
                        </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/Correlation">Корреляция<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clustering">Кластерный анализ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/LSA">Латентно-семантический анализ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Тематическое моделирование<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>



    {% block content %}
    {% endblock %}

        <div class="loader" ></div>
        <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

        {% load staticfiles %}
        <script src="{% static 'analysis/js/loader.js' %}"></script>
        <script src="{% static 'analysis/js/select2.js' %}"></script>
        <script src="{% static 'analysis/js/disabled_undisabled_object.js' %}"></script>
</body>
</html>