{% extends "analysis/template.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                {% load staticfiles %}
                <a href="{% static 'analysis/image/СorrelationСhemistry.png' %}" target="_blank"><img src="{% static 'analysis/image/СorrelationСhemistry.png' %}" style='width: 100%; ' ></a>
            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <div class="col-md-12 order-md-1">
                <br>
                <label for="exampleFormControlSelect1">Укажите исследуемый параметр</label>
            </div>

            <div class="col-md-12 order-md-1">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="input-group">
                        <select class="form-control" id="name" name="name">
                            {% for Сhe in Сhemistry %}
                                <option >{{ Сhe }}</option>
                            {% endfor %}
                        </select>

                        <div class="input-group-append">
                            <button class="btn btn-dark " id="but" type="submit" style="background-color: #3f294f;" >Показать</button>
                        </div>
                    </div>


                </form>
            </div>

            <div class="col-md-12 order-md-1">
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Химия</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for otv in otvet %}
                            <tr>
                                {% for ot in otv %}
                                    <td>{{ ot }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}